---
layout: default
---

<div class="home wrapper">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- include banner-ad.html -%}
  <div class="section">
    <h1>Explore Hong Kong hiking trails</h1>
    <p>Curated hikes with trail maps, transportation instructions, reviews, and photos.</p>
  </div>
  <div class="section">
    <h2 class="post-list-heading">Best Hong Kong hikes 💯</h2>
    <ul class="post-list">
      {% assign posts_popular = site.posts | where:"rating","5" %}
      {%- for post in posts_popular -%}
      {%- if post.lang != 'zh' -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <img src="/assets/{{ post.lang-ref }}-1.webp"  alt="{{ post.title }}" width="480" height="320"/>
          <h3>{{ post.title | escape }}</h3>
          <span class="post-meta">{{ post.difficulty }} · {{ post.duration }} · {{ post.region }}</span>
        </a>
        
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
  {%- include banner-ad.html -%}
  <div class="section">
    <h2 class="post-list-heading">Easy hikes</h2>
    <p>Family-friendly and relaxing hikes with minimal elevation and trail surface.</p>
    <ul class="post-list">
      {% assign posts_easy = site.posts | where:"difficulty","Easy" %}
      {%- for post in posts_easy -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <img src="/assets/{{ post.title }}-1.webp"  alt="{{ post.title }}" width="480" height="320"/>
          <h3>
              {{ post.title | escape }}
          </h3>
        </a>
        <span class="post-meta">{{ post.difficulty }} · {{ post.duration }} · {{ post.region }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- include banner-ad.html -%}
  <div class="section">
    <h2 class="post-list-heading">Medium hikes</h2>
    <p>Break a sweat hiking these trails.</p>
    <ul class="post-list">
      {% assign posts_medium = site.posts | where:"difficulty","Medium" %}
      {%- for post in posts_medium -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <img src="/assets/{{ post.title }}-1.webp"  alt="{{ post.title }}" width="480" height="320"/>
          <h3>
              {{ post.title | escape }}
          </h3>
        </a>
        <span class="post-meta">{{ post.difficulty }} · {{ post.duration }} · {{ post.region }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- include banner-ad.html -%}
  <div class="section">
    <h2 class="post-list-heading">Hard hikes</h2>
    <p>These trails are challenging but equally rewarding.</p>
    <ul class="post-list">
      {% assign posts_hard = site.posts | where:"difficulty","Hard" %}
      {%- for post in posts_hard -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <img src="/assets/{{ post.title }}-1.webp" alt="{{ post.title }}" width="480" height="320"/>
          <h3>
              {{ post.title | escape }}
          </h3>
        </a>
        <span class="post-meta">{{ post.difficulty }} · {{ post.duration }} · {{ post.region }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- include banner-ad.html -%}
</div>
