---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="wrapper">
    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <span>{{ page.difficulty }}</span> · <span>{{ page.duration }}</span> · <span>{{ page.distance }}</span> · <span>{{ page.trail }} Section {{ page.section }} · {{ page.region }}</span>
        <!--
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time> -->
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
      <img src="/assets/{{ page.lang-ref }}-1.jpg" alt="{{ page.title }}">
      <h2>
        {%- if page.lang == 'zh' -%}
          地圖
        {%- else -%}
          Map
        {%- endif -%}
      </h2>
      <div id="map-wrapper">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid={{ page.mid }}" id="mapp"></iframe>
      </div>
    </header>

    <div class="post-content e-content section" itemprop="articleBody">
      {{ content }}
    </div>
    <hr>
    <div class="section">
      {%- if page.lang == 'zh' -%}
      <h2>探索更多行山路線</h2>
      {%- else -%}
      <h2>Explore more hikes</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- for post in site.posts limit:12 -%}
        {%- if page.lang == 'zh' -%}
          {%- if post.lang == 'zh' -%}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
              <img src="/assets/{{ post.lang-ref }}-1.jpg" />
              <h3>{{ post.title | escape }}</h3>
              <span class="post-meta">{{ post.difficulty }} · {{ post.duration }} · {{ post.region }}</span>
            </a>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endif -%}
        {%- else -%}
        {%- if post.lang != 'zh' -%}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="/assets/{{ post.lang-ref }}-1.jpg" />
            <h3>{{ post.title | escape }}</h3>
            <span class="post-meta">{{ post.difficulty }} · {{ post.duration }} · {{ post.region }}</span>
          </a>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endif -%}        
        {%- endif -%}  
        {%- endfor -%}
      </ul>
      <div class="section" style="text-align:center">
        {%- if page.lang == 'zh' -%}
        <a class="btn" href="{{ "/zh" | relative_url }}">查看所有行山路線</a>
        {%- else -%}
        <a class="btn" href="{{ "/" | relative_url }}">View all hikes</a>
        {%- endif -%} 
      </div>
    </div>

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </div>
</article>
